<div id="client-name">
  <input type="text" id="client-name" name="client-name" value={{@clientName}} autocomplete="off" placeholder={{@clientName}} aria-label="Enter client name to populate objective text">
</div>
